@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';
.modal-container{
    width: 40%;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    background-color: $full-white;
    position: relative;
    padding-bottom: 15px;
    .close-icon{
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #171717;
       
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }
    h1{
        text-align: center;
        color: $semi-dark-blue;
    }
    .input-wrapper{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        &.flex{
            flex-direction: row;
            justify-content: center;
        }
        @include input;
        margin: 10px auto ;
        label{
            font-size: 22px;
            color: $fully-dark-blue;
        }
        input{
            margin: auto;
            height: 40px;
            background-color: #e1e1e1;
            width: 100% !important;
            font-size: 18px;
            &:focus{
                border-bottom: 4px solid $semi-dark-blue !important;
            }
            padding: 2px 5px;
        }
        .toggle-container {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
            margin: auto 10px;
        }
        
        .toggle-label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        
        .toggle-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ccc; /* Light background */
            border-radius: 12px;
            transition: background-color 0.3s ease;
          }
          
          .toggle-circle {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: #e1e1e1;
            border-radius: 50%;
            transition: transform 0.3s ease;
          }
          
          .toggle-checkbox {
            display: none;
          }
          .toggle-checkbox:checked + .toggle-label .toggle-background {
            background-color: #333; /* Dark background */
          }
          
          .toggle-checkbox:checked + .toggle-label .toggle-circle {
            transform: translateX(26px); /* Move circle to the right */
          }
        }
        .btn-wrapper{
            display: flex;
            justify-content: end;
            button{
                transition: all 200ms;
              cursor: pointer;
                background-color: $blue;
                color: #fff;
                border-radius: 50%;
                &:hover{
                    background-color: $fully-dark-blue;
                }
                svg{
                    font-size: 40px;
                }
        }

    }
}

.dark{
    .modal-container{
        background-color: $semi-dark-blue;
        .close-icon{
            background-color: #272727;
            color: #fff;
        }
        h1{
            color: $full-white;
        }
        .input-wrapper{
            @include input;
            margin: 10px auto ;
            label{
                color: $full-white;
            }
            &.flex{
                color: #fff;
            }
            input{
                background-color: $fully-dark-blue;
                color: #fff;

                &:focus{
                    border-bottom: 4px solid $full-white !important;
                }
            }
            
            .toggle-background {
                background-color: $sky-blue;
              }
              
              .toggle-circle {
                background-color: $fully-dark-blue;
              }
              
              
              .toggle-checkbox:checked + .toggle-label .toggle-background {
                background-color: #333; /* Dark background */
              }
              
              
            }
            .btn-wrapper{
               
                button{
                    background-color: $sky-blue;
                    color: #fff;
                    &:hover{
                        background-color: $blue;
                    }
            }
    
        }
    }
    
}