@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';
.small-profile{
    position: absolute;
    width: 250px;
    height: 260px;
    border-radius: 15px;
    background-color: #e1e1e1;
    z-index: 8;
    padding: 10px;
    .header{
        display: flex;
        justify-content: start;
        align-items: center;
        
        .circle{
            width: 60px;
            height: 60px;
            border-radius: 30%;
            background-color: $fully-dark-blue;
            animation: blinking 1200ms infinite forwards linear alternate;
            
        }
        .username{
            text-align: center;
            margin-left: 10px;
        }
    }
}

.dark{
    .small-profile{
        background-color: $semi-dark-blue;
    }
    
}

@include blinking;