@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';
.small-profile{
    position: absolute;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: #e1e1e1;
    z-index: 8;
    padding: 10px;
    .circle{
        padding: 2px;
        flex: 3;
        height: 65px;
        border-radius: 50%;
        background-color: $fully-dark-blue;
        overflow: hidden;
        &.laoding{
            animation: blinking 1200ms infinite forwards linear alternate;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        .username{
            flex: 7;
            text-align: center;
            margin-left: 10px;
            font-size: 30px;
            color: $semi-dark-blue;
        }
    }
    .details-info{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .badge_icon{
        margin-top: 20px;
        width: 50px !important;
        height: 50px !important;
    }
    .badge_title{
        display: none;
    }
    .laoding{
        
    }
}
.dark{
    .small-profile{
        background-color: $semi-dark-blue;
    }
    
}

@include blinking;