@import '../../mainStyle.scss';
.third_part_child{
    transition: all 300ms;
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 15px;
    min-height: 300px;
    padding: 10px;
    position: sticky;
    top: 90px;
    margin-bottom: 20px;
    h1,h2{
        text-align: center;
        color: $semi-dark-blue;
    }
    .header{
        .button-wrapper{
            width: 100%;
            @include centerChild;
            .register{
                margin: 10px auto;
                width: 70%;
                background-color: $sky-blue;
                color: $full-white;
                padding: 5px 3px;
                border-radius: 5px;
                font-size: 22px;
                font-weight: 600;
                cursor: pointer;
                transition: all 200ms;
                &:hover{
                    background-color: $fully-dark-blue;
                }
            }
        }
        .flex{
            margin: 15px 0;
            align-items: center;
            justify-content:space-between;
            .courselogo{
                margin-right: 10px;
                display: flex;
                align-items: center;
                img{
                    width: 65px;
                    height: 65px;
                    border-radius: 10px;
                    margin-right: 10px;
                }
            }
            .title{
                color: $semi-dark-blue;
                &.code{
                    padding-right: 10px;
                }
            }
        }  
    }
    .instructors-title{
        text-decoration: underline;
    }
}
.dark{
    .third_part_child{
        background-color: $semi-dark-blue;
        h2{
            text-align: center;
            color: #e1e1e1;
        }
        .header{
            .title{
                color: $light-white;
            }  
        }
        h3{
            color: #e1e1e1;
        }
    }
}