@import '../../mainstyle.scss';
.course-card{
    width: 95%;
    background-color: #8deaff9c;
    border-radius: 10px;
    padding: 10px;
    display: flex;    
    color: $blue;
    margin: 5px auto;
    justify-content: space-between;
    text-align: center;
    filter: drop-shadow(0px 13px 13px #0000005b);
    align-items: center;

    &.default{
        align-items: center;
        width: 200px;
        display: block;
        .folw-btn{
            margin: auto;  
        }
    }
    .course-logo-wrapper{
        .course_logo{
            width: 45px;
            height: 45px;
        }
    }
    .course-name{
        font-size: 30px;
        font-weight: 700;
    }
    .course-code{
        font-size: 20px;
        font-weight: 500;
    }
    .folw-btn{
        padding: 5px 10px;
        color: $full-white;
        background-color: #009AC8;
        font-size: 22px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        height: fit-content;
        cursor: pointer;
        transition: all 200ms;
        &:hover{
            background-color: $semi-dark-blue;
        }
        &.followed-btn{
            background-color: $semi-dark-blue !important;
            @include centerChild;
        }
    }
    &.loading{
        .course-name,.course-code{
            width: 350px;
            padding: 15px;
            border-radius: 10px;
            background-color: #b1b1b1c4;
            animation: blinking infinite 1000ms alternate;
        }
        .course-code{
            margin-top: 10px;
            padding: 10px;
            width: 150px;
        }
    }
    &.dark{
        &.loading{
            .course-name,.course-code{
                background-color: $fully-dark-blue;
            }
        }
        background-color: #1C4052;
        justify-content: space-between;
        align-items: center;
        .course-name{
            color: #e1e1e1;
            font-size: 30px;
            font-weight: 700;  
        }
        .course-code{
            color: #d1d1d1 ;
        }
        .folw-btn{
            padding: 7px 10px;
            color: $full-white;
            background-color: #009AC8;
            font-size: 22px;
            font-weight: 600;
            border: none;
            border-radius: 10px;
            height: fit-content;
            cursor: pointer;
            transition: all 200ms;
            &:hover{
                background-color: $semi-dark-blue;
            }
        }
    }
}

@keyframes blinking {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}