@import '../../mainStyle.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

::selection {
    color: white;
    background-color: #0c2c43;
}

.profile_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .nav_bar {
        border: 2px solid #f0f0f0;
        @include centerChild;
        flex: 1;
        box-shadow: 2px 0px 4px #888888;
    }
    .content {
        flex: 11;
        display: flex;
        .side_bar {
            border: 2px solid #f0f0f0;
            box-shadow: 0px 2px 4px #888888;
            flex: 2;
            @include centerChild;
            background-color: #f0f0f0;
        }
        .info {
            flex: 10;
            flex-direction: column;
            display: flex;

            .upper {
                color: #0c2c43;
                @include centerChild;
                flex: 6;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.3em;
                font-weight: 600;

                .score {
                    flex: 6;
                    @include centerChild;
                    height: 100%;

                    .score_in {
                        box-shadow: 2px 2px 4px #888888;
                        height: 40%;
                        background-color: #f0f0f0;
                        width: 80%;
                        @include centerChild;
                        gap: 50px;
                        border-radius: 10px;

                        .achieved {
                            @include centerChild;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }

                .badges {
                    flex: 6;
                    @include centerChild;
                    height: 100%;
                    
                    .badges_in {
                        box-shadow: 2px 2px 4px #888888;
                        height: 60%;
                        width: 80%;
                        background-color: #f0f0f0;
                        @include centerChild;
                        border-radius: 10px;
                    }
                }
            }

            .lower {
                flex: 6;
                @include centerChild;
                align-items: flex-start;

                .lower_in{
                    width: 90%;
                    @include centerChild;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 30px;

                    h1 {
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        color: #0c2c43;
                        font-size: 2.3em;
                    }
    
                    .calendar {
                        width: 100%;
                        @include centerChild;
                        gap: 20px;
    
                        .month {
                            flex: 1;
                            @include centerChild;
                            flex-direction: column;
                            gap: 10px;
                            
                            .cells {
                                @include centerChild;
                                flex-wrap: wrap;
                                gap: 10px;

                                .cell {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 2px;

                                    &.active {
                                        background-color: #28c244;
                                    }

                                    &.passive {
                                        background-color: #d9d9d9;
                                    }
                                }
                            }

                            .month_name {
                                color: #0c2c43;
                                font-size: 1.4em;
                                font-weight: 600;
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}
