@import '../../mainStyle.scss';


.profile_container {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    flex: 10;
    .content {
        min-height: 92vh;
        .info {
            min-height: fit-content;
            .preUpper {
                display: none;
            }
            .upper {
                color: #0c2c43;
                @include centerChild;
                justify-content: space-around;
                padding-top: 20px;
                align-items: center;
                font-size: 28px;
                font-weight: 600;
                .score {
                    @include centerChild;
                    flex: 6;
                    .score_in {
                        width: 80%;
                        height: fit-content;
                        padding: 20px;
                        background-color: #f0f0f0;
                        @include centerChild;
                        gap: 50px;
                        border-radius: 10px;
                        .achieved {
                            @include centerChild;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }
                    .badges {
                        flex: 6;
                        .badges_in{
                            width: 80%;
                            height: 150px;
                            padding: 10px;
                            background-color: $light-white;
                            border-radius: 10px;
                        }
                    }
                }

            .lower {
                flex: 6;
                @include centerChild;
                align-items: flex-start;

                .lower_in{
                    @include centerChild;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: 30px;
                    h1 {
                        color: #0c2c43;
                        font-size: 2.3em;
                    }
                    .calendar {
                        width: 90%;
                        overflow-x: scroll;
                        @include centerChild;
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        gap: 20px;
                        &::-webkit-scrollbar {
                            height: 0;
                        }
    
                        .month {
                            min-width: 75px;
                            @include centerChild;
                            flex-direction: column;
                            gap: 5px;
                            .cells {
                                display: grid;
                                grid-template-rows: repeat(7,20px);
                                grid-template-columns: repeat(5,20px);
                                flex-wrap: wrap;
                                .cell {
                                    width: 15px;
                                    height: 15px;
                                    margin: auto;
                                    border-radius: 2px;
                                    cursor: pointer;
                                    &.active {
                                        background-color: #28c244;
                                    }

                                    &.passive {
                                        background-color: #d9d9d9;
                                    }
                                }
                            }

                            .month_name {
                                color: #0c2c43;
                                font-size: 1.4em;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    &.dark{
        background-color: #041622;
        
        .content{
            .info{
                .upper{
                    color: #8deaff;
                    .badges_in, .score_in {
                        background-color: #082233;
                        box-shadow: 1px 1px 4px #217487;
                    }
                }

                .lower{
                    background-color: #041622;
                    .lower_in{
                        h1{
                            color: #8deaff;
                        }
                        .calendar{
                            .month_name{
                                color: #8deaff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .profile_container {

        .content{

            .side_bar{
                display: none;
            }

            .info{
                width: 100%;

                .preUpper {
                    align-self: flex-start;
                    margin: 30px 0 0 5%;
                    @include centerChild;
                    gap: 50px;

                    p{
                        font-size: 1.8em;
                        font-weight: 600;
                        color: #0c2c43;
                    }

                    p:nth-of-type(2){
                        font-size: 1em;
                        font-weight: 300;
                    }

                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

                .upper{
                    flex: none;
                    margin: 30px 0 30px 5%;
                    gap: 30px;
                    font-size: 1.1em;
                    flex-direction: column;
                    align-items: flex-start;

                    .score{
                        flex: none;
                        height: fit-content;
                        
                        .score_in{
                            width: 90dvw;
                            min-height: 15dvh;
                        }
                    }

                    .badges{
                        flex: none;
                        height: fit-content;
                      
                    }
                }

                .lower{
                    flex: none;

                    .lower_in{
                        gap: 10px;

                        h1{
                            font-size: 1.6em;
                        }

                        .calendar{
                            margin-bottom: 30px;

                            .month{

                                .month_name{
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.dark{
            .content{

                .side_bar{
                    display: none;
                }
    
                .info{
                    width: 100%;
    
                    .preUpper {
                        p{
                            color: #8deaff;
                        }
                    }
                }
            }
        }
    }
}
