@import '../../mainStyle.scss';
.trending{
    padding: 0;
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    .box-title{
        padding: 10px;
    }
    .trend{
        padding: 10px;
        cursor: pointer;
        &:hover{
            background-color: $semi-dark-blue;
            border-radius: 15px;
            color: $full-white;
            .trend_title{
                color: $full-white;
            }
        }
        .trend_title{
            text-align: left;
            color: $semi-dark-blue;
            font-size: 30px;
           
        }
    }
}