@import '../../mainStyle.scss';

.chart-container{
    background-color: #efefef;
    padding: 10px;
    h1{
        text-align: center;
    }
    .flex-chart{
        @include centerChild;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        svg{
            flex: 9;
            @include centerChild;
        }
        .data-filter{
            flex:3;
            text-align: center;
            align-items: center;
            h3{
                cursor: pointer;
                transition: all 200ms;
                margin: 5px 0;
                &.active,&:hover{
                    background-color: #041622;
                    color: #f0f0f0;
                    padding: 10px 20px;
                    border-radius: 20px;
                    text-align: center;
                }
            }
        }
    }
    

}
.tprofile_container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    .content {
        height: 100dvh;
        display: flex;
        padding-left: 250px;
        

        .info {
            max-height: fit-content;
            width: 83vw;
            flex-direction: column;
            display: flex;

            .preUpper {
                display: none;
            }

            .upper {
                flex: 5;
                color: #0c2c43;
                @include centerChild;
                font-size: 1.3em;
                font-weight: 600;
                
                .score {
                    width: 90%;
                    @include centerChild;
                    height: 100%;
                    justify-content: flex-start;
                    gap: 20px;
                    
                    .score_in {
                        width: calc(100% / 3);
                        box-shadow: 2px 2px 4px #888888;
                        height: 60%;
                        background-color: #f0f0f0;
                        @include centerChild;
                        gap: 50px;
                        border-radius: 10px;

                        .achieved {
                            @include centerChild;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }

            }

            .middle {
                @include centerChild;
                flex: 5;

                .courses {
                    border-radius: 15px;
                    background-color: #f0f0f0;
                    border-spacing: 0px;
                    width: 90%;
                    margin-bottom: 25px;
                    box-shadow: 2px 2px 4px #888888;

                    th{
                        &:first-of-type{
                            border-radius: 15px 0 0 0;
                        }
                        &:nth-of-type(5){
                            border-radius: 0 15px 0 0;
                        }
                        font-size: 1.4em;
                        background-color: #0c2c43;
                        color: white;
                        padding: 15px;
                    }

                    td{
                        font-size: 1.2em;
                        font-weight: 500;
                        text-align: center;
                        padding: 15px;
                        color: #0c2c43;
                    }
                }
            }

           
        }
    }

    &.dark{
        background-color: #041622;
        
        .content{
            .info{
                .upper{
                    color: #8deaff;
                    .badges_in, .score_in {
                        background-color: #082233;
                        box-shadow: 1px 1px 4px #217487;
                    }
                }

                .middle{
                    background-color: #041622;
                    .courses{
                        box-shadow: 1px 1px 4px #217487;
                        background-color: #082233;
                        
                        th{
                            color: #041622;
                            background-color: #8deaff;
                        }
                        td{
                            color: #8deaff;
                        }
                    }
                }

                .lower{
                    background-color: #041622;
                    .lower_in{
                        h1{
                            color: #8deaff;
                        }
                        .calendar{
                            .month_name{
                                color: #8deaff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .tprofile_container {

        .content{

            .side_bar{
                display: none;
            }

            .info{
                width: 100%;

                .preUpper {
                    align-self: flex-start;
                    margin: 30px 0 0 5%;
                    @include centerChild;
                    gap: 50px;

                    p{
                        font-size: 1.8em;
                        font-weight: 600;
                        color: #0c2c43;
                    }

                    p:nth-of-type(2){
                        font-size: 1em;
                        font-weight: 300;
                    }

                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

                .upper{
                    flex: none;
                    margin: 30px 5% 30px 5%;
                    gap: 30px;
                    font-size: 1.1em;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .score{
                        width: 100%;
                        height: fit-content;
                        flex-direction: column;

                        .score_in{
                            width: 60dvw;
                            min-height: 12dvh;
                        }
                    }
                }

                .middle{
                    .courses{
                        th{
                            font-size: 1.3em;
                        }
                        td{
                            font-size: 1.1em;
                        }
                    }
                }

                .lower{
                    flex: none;

                    .lower_in{
                        gap: 10px;

                        h1{
                            font-size: 1.8em;
                        }

                        .calendar{
                            margin-bottom: 30px;

                            .month{

                                .month_name{
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.dark{
            .content{

                .side_bar{
                    display: none;
                }
    
                .info{
                    width: 100%;
    
                    .preUpper {
                        p{
                            color: #8deaff;
                        }
                    }
                }
            }
        }
    }
}
