$color_1: #999;
$color_2: white;
$background-color_1: #f5f5f5;

/*  Scrollbar  */
/* =========================== Phone =========================== */
.landing-container {
	width: 100%;
	height: 100vh;
	/*url(../../assets/landing/landing-bg.jpg)*/
	/*overflow: scroll;*/
	font-size: clamp(1.125rem, 2vh, 1.25rem);

	.scroll-bar {
		position: fixed;
		top: 0;
		z-index: 999;
		height: 10px;
		background-color: $color_2;

		animation: scrolling linear both;
		animation-timeline: scroll();
	}

	.go-top {
		position: fixed;
		z-index: 99;
		bottom: 0px;
		right: -50px;
		font-size: 50px;
		color: $color_1;
		cursor: pointer;
		padding: 15px 25px;

		transition: right 0.25s ease-in-out;

		&.visable {
			right: 0px;
			animation: jump_shake 2s linear infinite;
		}

		&:hover {
			color: $color_2;
			animation: none;
		}
	}
}

::-webkit-scrollbar {
	width: 20px;
	background-color: $background-color_1;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(to left, #96a6bf, #63738c);
	box-shadow: inset 0 0 1px 1px #5c6670;

	&:hover {
		background: linear-gradient(to left, #8391a6, #536175);
	}
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
	box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
	.landing-container {
		background-position: right;
	}
}

/* Animations */

@keyframes scrolling {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes jump_shake {
	0% { transform: translateX(0) }
	25% { transform: translateY(-9px) }
	35% { transform: translateY(-9px) rotate(17deg) }
	45% { transform: translateY(-9px) rotate(-17deg) }
	55% { transform: translateY(-9px) rotate(17deg) }
	65% { transform: translateY(-9px) rotate(-17deg) }
	85% { transform: translateY(0px) rotate(0) }
	100% { transform: translateY(0) rotate(0) }
  }
