@import '../../.mainstyle.scss';
.sidebar{
    flex: 2;
    overflow: auto;
    background: $light-white;
    height:fit-content;
    background-color: #f0f0f0;
    padding-bottom: 30px;
    padding-right: 5px;
    position: fixed;
    box-shadow: 5px 5px 5px 0 #00000051;
    @include blinking;
    width: $sidebar-width;
    .sidebar-logo{
        background-color: #08223339;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        margin: 20px auto;
        overflow: hidden;
        @include centerChild;
        i::before {
            font-size: 130px;
            margin: auto;
            color: $fully-dark-blue;
        }
        .profile_img{
            position: relative;
        }
        .profile-img{
            width: 100%;
            height: 100%;
        }
        .edit{
            position: absolute;
            top: 5px;
            right: 5px;
            color: $fully-dark-blue;
            cursor: pointer;
            transition: all 200ms;
            &:hover{
                transform: scale(1.2);
            }
        }
        #profile_img{
            display: none;
        }
        .person{
            color: $fully-dark-blue;
            width: 150px;
            height: 150px;
        }
    }
    .username{
        text-align: center;
        font-size: 20px;
    }
    hr {
        border: none; /* Remove default border */
        border-top: 2px solid $semi-dark-blue; /* Customize line color, thickness, etc. */
        margin: 20px 0; /* Adjust margin as needed */
    }
    
    .side-bar-items{
        color: $semi-dark-blue;
        margin: 20px 0;
        .title{
            font-size: 28px;
            font-weight: 600;
            margin-left: 5px;
            color: $semi-dark-blue ;
        }
        .list{
            margin-left: 10px;
            list-style: none;
        }
        a{
            @include link;
        }
        .NoCourses{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .nav-register{
                padding :5px 10px;
                border-radius: 10px;
                font-size: 20px;
                margin: 10px auto;
                background-color: $sky-blue;
                color: $full-white;
                cursor: pointer;
                &:hover{
                    background-color: $fully-dark-blue;
                }
            }
        }
        .items{
            color: $fully-dark-blue;
            padding: 7px 5px 4px 10px ;
            font-size: 22px;
            transition: all 150ms;
            margin: 2px 0;
            .flex{
                display: flex;
                align-items: center;
            }
            i{
              margin-right: 2px;
              margin-top: 5px;
            }
            
            &:hover,&.active{
                background-color:$blue ;
                cursor: pointer;
                color: #ffffff;
                border-radius: 7px;
                .items-icon{
                    color: #ffffff !important;
                }
            }
        }
        .loading-card{
            height: 40px;
            width: 100%;
            margin: 7px auto;
            background-color: $semi-dark-blue;
            animation: blinking 1800ms infinite forwards linear alternate;
            border-radius: 5px;
        }
    }
    &.dark{
        background-color: $semi-dark-blue;
        .title{
            color: $sky-blue;
        }
        .sidebar-logo{
            background-color: $fully-dark-blue;
            i::before{
                color: $sky-blue;
            }
        }
        hr {
            border-top: 3px solid $full-white; 
        }
        .side-bar-items{
            color: #d1d1d1;
            a{
                color: $full-white;
            }
            .items{
                    color: $fully-dark-blue;
                    color: inherit;
                    &:hover,&.active{
                        background-color:$fully-dark-blue ;
                        color: $sky-blue;
                    }
                }
            }
            .loading-card{
                background-color: $fully-dark-blue;
            }
            &::-webkit-scrollbar-track {
                background: $fully-dark-blue; /* Color of the scrollbar track */
              }
              
              /* Style the scrollbar handle */
              &::-webkit-scrollbar-thumb {
                background: $semi-dark-blue; /* Color of the scrollbar handle */
                border-radius: 5px; /* Border radius of the scrollbar handle */
              }
    }
    &::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
      }
      /* Style the scrollbar track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the scrollbar track */
      }
      
      /* Style the scrollbar handle */
      &::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar handle */
        border-radius: 5px; /* Border radius of the scrollbar handle */
      }
      
      /* Style the scrollbar handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar handle on hover */
      }
}