.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #fffffe url(../../assets/wavel.svg) no-repeat bottom;
  background-size: 100%;
}

.theme {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme::before,
.theme::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 50%;
}
.theme::after {
  width: 25px;
  height: 25px;
  background-image: linear-gradient(to right, black 50%, white 50%);
}

.form-signin {
  flex: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.form-signin .h1 {
  color: #0c2c43;
  font-size: 64px;
  user-select: none;
}
.p {
  color: #0c2c43;
  margin-bottom: 20px;
  user-select: none;
}

.error .i-signin {
  background-color: rgba(141, 234, 255, 0.4);
  color: #0c2c43;
  width: 300px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  border: 1px solid #0c2c43;
  padding-left: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-container .i-signin::placeholder {
  color: #0c2c4399;
  opacity: 1;
}

.error {
  position: relative;
}
.error .e-msg {
  position: absolute;
  top: 46px;
  width: 300px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  color: red;
  user-select: none;
}

.eye {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background: url(../../assets/visible.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.show {
  background: url(../../assets/invisible.svg) no-repeat center;
  background-size: contain;
}

.sign-in-btn {
  background-color: #0c2c43;
  text-align: center;
  width: 300px;
  height: 45px;
  line-height: 45px;
  color: #fffffe;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0 1px 3px #000;
  cursor: pointer;
}

.disable {
  cursor: not-allowed;
  opacity: 0.7;
}

.identifier::before {
  content: "@eng.asu.edu.eg";
  position: absolute;
  right: 0;
  background-color: #0c2c43;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  height: 45px;
  width: 60%;
  line-height: 45px;
  color: #e7e7e7;
}

.logo-signin {
  flex: 1 1 50%;
}

.logo-signin img {
  width: 100%;
}

/* =========================== Dark Theme =========================== */

.dark-container {
  background: #082233 url(../../assets/waved.svg) no-repeat bottom;
  background-size: 100%;
}

.dark-container .form-signin .h1,
.dark-container .p {
  color: #fffffe;
}

.dark-container .eye {
  filter: invert(1);
}

.dark::after {
  background-image: linear-gradient(to left, black 50%, white 50%);
}

.dark-container button {
  background-color: #007a9f;
}

.dark-container .error .i-signin {
  background-color: rgba(141, 234, 255, 0.15);
  color: #fffffe;
}

.dark-container .error .i-signin:focus {
  outline: none;
}

.dark-container .identifier::before {
  background-color: #007a9f;
}

.dark-container .i-signin::placeholder {
  color: #fffffe99;
}

/* =========================== Phone =========================== */

@media screen and (max-width: 480px) {
  .login-container {
    flex-flow: column;
    justify-content: space-around;
  }
  .logo-signin {
    display: inline-block;
    text-align: center;
  }
  .logo-signin img {
    width: 80%;
  }
  .form-signin {
    align-self: center;
    flex-basis: auto;
    position: absolute;
    z-index: 9;
  }
}
