@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';
.askQuestion-container{
    padding: 20px;
    padding-left: 50px;
    padding-top: 30px;
    height: fit-content;
    &.post-answer{
        padding: 5px;
        margin: auto;
        border-radius: 20px;
    }
    .askQuestion-wrapeer{
        display: flex;
        flex-direction: column;
        width: 80% !important;
        margin: auto;
        padding: 5px 2px;
        border-radius: 20px;
        height: 50px;
        transition: all 500ms;
        overflow: hidden;
        border: 2px solid #c1c1c1;
        position: relative;
        .askQuestion-content{
            min-height: 60px;
            height: fit-content;
            border: 2px solid #6b6a6a;
            font-weight: normal;
            border: none;
            cursor: text;
            padding: 5px;
            font-size: 18px;
            &:focus{
                border: none;
                outline: none;
            }
        }
        .down-options{
            display: flex;
            .course-selection{
                margin-left: 20px;
                select{
                    background-color: #e0e0e0;
                    width: 120px;
                    height: 30px;
                    border-radius: 5px;
                    option{
                        text-align: center;

                    }
                }
            }
        }
        .img-preview{
            max-width: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .files-wrapper{
            input{  
                display: none;     
                margin-left: 10px;
            }
            label{
                cursor: pointer;
            }
            .img-label{
                margin: 5px 10;
            }
            svg{
                font-size: 30px;
                color: #a0a0a0;
                transition: all 200ms;
                &:hover{
                    color: $fully-dark-blue
                }
            }
        }
        button{
            @include centerChild;
            padding: 5px;
            font-size: 22px;
            margin-right:15px ;
            margin-top: -20px;
            color: $light-white;
            background-color: $semi-dark-blue;
            border-radius: 10px;
            cursor: pointer;
            transition: all 200ms;
            font-weight: 500;
            position: absolute;
            bottom: 5px;
            right: 5px;
            &:hover{
                background-color: $semi-dark-blue;
            }
            &:disabled{
                background-color: #6D6D6D;
                cursor: initial;
            }
        }
    }
}
.dark{
    .askQuestion-container{
        .askQuestion-wrapeer{
            border: 2px solid $blue;
            .askQuestion-content{
                color: $light-white;
                &::placeholder{
                    color: #6ddbf386;
                }
            }
            
            button{
                color: $light-white;
                background-color: $sky-blue;
                cursor: pointer;
                &:hover{
                    background-color: $semi-dark-blue;
                }
            }
            .down-options{
                .course-selection{
                   select{
                        background-color: $semi-dark-blue;
                        color: #f0f0f0;
                       
                    }
                }
            }
        }
    } 
}
.modal{
    .askQuestion-container{
        .askQuestion-wrapeer{
            width: 95% !important;
        }
    }
}