.modal{
    background-color: #0d0d0de4;
    .question{
        width: 100%;
    }
    .question-modal-container{
        width: 90%;
        height: 90%;
        background-color: #fff;
        border-radius: 20px;
        z-index: 999;
        display: flex;
        overflow: hidden;
        .img-container{
            flex: 8;
            border-radius: inherit;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            overflow: hidden;
            .img-modal{
                width: 100%;
                height: 100%;
            }
        }
        .flex{
            justify-content: space-between;
        }
        .question-details{
            flex: 4;
            background-color: #e1e1e1;
            padding: 10px;
            .question-content{
                flex: 8;
                padding: 10px;
                padding-top: 20px;
                font-size: 30px;
                font-weight: 600;
                margin: auto;
                border-radius: 10px;
                background-color: #d1d1d1;

            }
            .question-options{
                display: flex;
                justify-content: space-around;
            }
        }
    }
}