@import '../../.mainStyle.scss';
.modal{
    background-color: #0d0d0de4;
    .question{
        width: 100%;
    }
    .question-modal-container{
        width: 90%;
        height: 90%;
        background-color: #fff;
        border-radius: 20px;
        z-index: 999;
        display: flex;
        overflow: hidden;
        .img-container{
            flex: 8;
            border-radius: inherit;
            overflow: hidden;
            .img-modal{
                width: 100%;
                height: 100%;
            }
        }
        .flex{
            justify-content: space-between;
        }
        .question-details{
            flex: 4;
            background-color: #e1e1e1;
            padding: 10px;
            .question{
                margin-bottom: 20px;
            }
            .question-content{
                flex: 8;
                padding: 15px;
                font-size: 24px;
                font-weight: 600;
                margin: auto;
                border-radius: 15px;
                background-color: #d1d1d1;
                color: $semi-dark-blue;
            }
            .question-options{
                display: flex;
                justify-content: space-around;
            }
        }
    }
    &.dark{
        .question-modal-container{
            background-color: $fully-dark-blue;
            .question-details{
                flex: 4;
                background-color: $fully-dark-blue;
                .question-content{
                    background-color: #051119;
                    color: $full-white;
                }
            }
        }
    }
}
