.not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;

  .img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: 25%;
    }

    img:nth-child(1) {
      transform: scaleX(-1);
    }


  }

  h1 {
    font-size: 75px;
  }
}


@media (max-width: 600px) {
  .not-found {
      h1 {
        font-size: 50px;
      }
  }
}