@import '../../mainstyle.scss';

.welcome-page {
    min-height: 100vh;
    background-color: #FFFFFE;
    position: relative;
    transition: all 300ms;
    padding-bottom: 100px;

    .welcome-nav-bar {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Logo {
            width: 200px;
            height: 100px;
        }

        .right-items {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .avatar-wrapper {
                background-color: $fully-dark-blue;
                border-radius: 15px;
                padding: 2px;
                height: fit-content;
            }

            .theme-wrapper {
                margin-left: 10px;

                svg {
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                }
            }
        }
    }

    .welcome-sentance {
        margin-left: 160px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 400;
        color: $blue;

        span {
            font-weight: 600;
            font-size: 58px;
            text-decoration: underline;
        }
    }

    .search-wrapper {
        @include centerChild;
        padding: 10px;

        input {
            background-color: #0c2c4310;
            border: none;
            border-bottom: 3px solid #0C2C43;
            width: 300px;
            height: 40px;
            padding: 5px;
            font-size: 18px;
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .not-found {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: $semi-dark-blue;
        padding: 10px;
    }

    .course-card-container {
        max-height: 250px;
        overflow-y: scroll;
        background-color: #68a0c81d;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        padding: 10px;

        &.no-scroll {
            overflow-y: auto;

        }

        &.default-courses {
            margin: 10px 0;
        }
    }

    .default-courses-title {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }

    .default-courses-container {
        color: $semi-dark-blue;

        .grid-courses {
            padding: 10px;
            background-color: #68a0c842;
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            width: 50%;
            border-radius: 10px;
            margin: auto;

            &.no-grid {
                display: block;

            }
        }
    }

    .next-wrapper {
        width: 50%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-end;

        .next-btn {
            padding: 10px 20px;
            font-size: 30px;
            font-weight: 600;
            color: #FFFFFE;
            background-color: #0d4d78;
            border-radius: 20px;
            border-bottom-right-radius: 0;
            cursor: pointer;
            transition: all 200ms;

            &:hover {
                background-color: $fully-dark-blue;
            }

        }
    }

    .wave {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    &.dark {
        background-color: $semi-dark-blue;

        .theme-wrapper {
            margin-left: 10px;

            svg {
                color: #FFFFFE;
            }
        }

        .welcome-sentance {
            color: #FFFFFE;
        }

        .search-wrapper {
            @include centerChild;
            padding: 10px;

            input {
                background-color: #08304A;
                border-bottom: 3px solid #009AC8;
                color: #FFFFFE;

            }
        }

        .not-found {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            color: #c1c1c1;
        }

        .course-card-container {
            background-color: #061824;
        }

        .default-courses-container {
            color: $full-white;

            .grid-courses {
                background-color: #061824;

            }
        }
    }
}