@import '../../.mainstyle.scss';
.welcome-page{
    min-height: 100vh;
    background-color: #FFFFFE;
    position: relative;
    transition: all 300ms;
    padding-bottom: 100px;
    .welcome-nav-bar{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        .logo{
            width: 200px;
            height: 100px;
        }
        .right-items{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .avatar-wrapper{
                background-color: $fully-dark-blue;
                border-radius: 15px;
                padding: 2px;
                height: fit-content;
            }
            .theme-wrapper{
                margin-left: 10px;
                svg{
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                }
            }
        }
    }
    .welcome-sentance{
        margin-left: 160px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 400;
        color: $blue;
        span{
            font-weight: 600;
            font-size: 58px;
            text-decoration: underline;
        }
    }
    .search-wrapper{
       @include centerChild;
       padding: 10px;
       input{
        background-color: #0c2c431f;
        border: none;
        border-bottom: 3px solid #0C2C43;
        width: 300px;
        height: 40px;
        padding: 5px;
        font-size: 18px;
        &:focus{
            border-bottom: 7px solid #0C2C43;
            outline: none;
        }
       }
    }
    .course-card-container{
        &.default-courses{
            margin: 10px 0;
        }
        .default-courses-title{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
    }
    .wave{
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    &.dark{
        background-color: $semi-dark-blue;
        .theme-wrapper{
            margin-left: 10px;
            svg{
               color: #FFFFFE;
            }
        }
        .welcome-sentance{
            color: #FFFFFE;
        }
        .search-wrapper{
            @include centerChild;
            padding: 10px;
            input{
             background-color: #08304A;
             border-bottom: 3px solid #009AC8;
             color: #FFFFFE;
             &:focus{
                 border-bottom: 7px solid #009AC8;
             }
            }
         }
    }
}