@import '../../mainStyle.scss';

// دي انا عاملها في الملف الرئيسي فملهاش لزمه 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

// دي بتسمع في الفايلات كلها مش بس البروفايل 
::selection {
    color: white;
    background-color: #0c2c43;
}

.signup-container {
    position: relative;
    width: 100vw;
    // include center from main style file 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-image: url('../../assets/Vectors.svg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    .signup-right {
        min-height: 100vh;
        flex: 6;
        @include centerChild;

        form {
            position: relative;
            bottom: 50px;
            width: 100%;
            height: 100vh;
            @include centerChild;
            flex-direction: column;

            .logo-right {
                display: none;
            }

            h1 {
                color: #0c2c43;
                font-size: 2.8em;
            }

            h5 {
                margin-top: 2px;
                margin-bottom: 15px;
                color: #0c2c43;
                font-size: 1em;
            }

            .id-container {
                position: relative;
                width: 52%;

                p {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 65%; // put width by percentage not px
                    height: 40px;
                    background-color: #0c2c43;
                    @include centerChild;
                    color: white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-size: 18px;

                    &.invalid {
                        border: 1px solid rgb(212, 6, 6);
                        border-left: none;
                    }
                }
            }

            .alarm-container {
                width: 49%;
                display: flex;
            }

            .alarm {
                color: rgb(212, 6, 6);
                align-self: flex-start;
                font-size: 0.85em;
                margin-top: 3px;
            }

            .password-container {
                position: relative;
                width: 52%;
                @include centerChild;

                .eye {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 7px;
                    bottom: calc((40px - 20px) / 2);
                    color: #0c2c43b9;
                }

                .eye:hover {
                    color: #0c2c43;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    bottom: calc((40px - 21px) / 2);
                }
            }

            .in {
                margin-top: 7px;
                border: 1px solid #0c2c43;
                border-radius: 5px;
                background-color: #eafbff;
                padding: 5px 0px 5px 10px;
                width: 52%;
                min-height: 40px;

                &::placeholder {
                    color: #0c2c43ce;
                }

                &.invalid {
                    border: 1px solid rgb(212, 6, 6);
                }

                &.holder {
                    color: #0c2c43ce;
                }

                &.id,
                &.pass {
                    width: 100%;
                }

                &.user {
                    margin: 0;
                }
            }


            .signup-button {
                margin-top: 15px;
                width: 52%;
                height: 40px;
                background-color: #0c2c43;
                color: white;
                border-radius: 5px;
                box-shadow: 1px 1px 2px rgb(228, 228, 228);
                font-size: 25px;
                font-weight: 600;
                padding: 5px 0;
            }

            .signup-button:hover {
                cursor: pointer;
            }

            .signup-button:disabled {
                color: white;
                background-color: #5c6d79;
            }

            .signup-button:disabled:hover {
                cursor: not-allowed;
            }

            .signin-forward {
                margin-top: 5px;
                color: #0c2c43;
                text-shadow: 1px 1px 2px #ffffff;

                a {
                    text-decoration: none;
                    color: #00769a;
                }
            }
        }
    }

    .signup-left {
        position: relative;
        bottom: 60px;
        height: 100%;
        flex: 6;
        @include centerChild;

        img {
            width: 400px;
            height: 170px;
        }
    }
}

@media (max-width: 1023px) {
    .signup-container {
        .signup-right {
            form {
                bottom: 0;

                .logo-right {
                    display: block;
                    width: 120px;
                    height: 51px;
                }
            }
        }

        .signup-left {
            flex: 0;

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .signup-container {
        .signup-right {
            form {

                .id-container,
                .in,
                .password-container,
                .signup-button {
                    width: 70%;
                }
            }
        }
    }
}