@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';
.notification-wrapper{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #e2e2e2;
    width: 250px;
    height: 200px;
    z-index: 99;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    .congrates{
        color: rgb(0, 144, 69);
        font-weight: 500;
    }
    .badge_notification{
        width: 100px;
        height: 100px;
        margin: auto;
        animation: blinking 4000ms linear alternate infinite forwards ;
    }
    @keyframes blinking {
        from{
            opacity: 0.9;
        }to{
            opacity: 1;
        }
    }
}
