@import '../../mainStyle.scss';
.badges_in, .score_in {
   
}
.badges {
    flex: 6;
    .badges_in{
        height: fit-content;
        padding: 10px;
      
        @include centerChild;
    }
}
.badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    .badge_icon{
        width: 65px;
        height: 65px;
    }
    .badge_title{
        font-size: 22px;
        text-align: center;
    }

}