@import '../mainStyle.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

::selection {
    color: #fffffe;
    background-color: #0c2c43;
}

.signup-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #fffffe;
    background-image: url('../../public/Vectors.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    .signup-right {
        height: 100%;
        flex: 6;
        @include centerChild;

        form {
            position: relative;
            bottom: 60px;
            width: 55%;
            @include centerChild;
            flex-direction: column;

            h1 {
                color: #0c2c43;
                font-size: 3.8em;
            }

            h5 {
                margin-top: 2px;
                margin-bottom: 25px;
                color: #0c2c43;
                font-size: 1em;
            }

            input {
                margin-top: 7px;
                border: 1px solid #0c2c43;
                border-radius: 5px;
                background-color: #d1f7fe2e;
                padding: 5px 0px 5px 15px;
                width: 300px;
                height: 40px;
            }

            input::placeholder {
                color: #0c2c43ce;
            }

            input.invalid {
                border: 1px solid rgb(212, 6, 6);
            }

            .id-container {
                position: relative;

                p {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 150px;
                    height: calc(100% - 7px);
                    background-color: #0c2c43;
                    @include centerChild;
                    color: #d1f7fe61;
                    border-radius: 0 5px 5px 0;
                }

                p.invalid {
                    border-bottom: 1px solid rgb(212, 6, 6);
                    border-top: 1px solid rgb(212, 6, 6);
                    border-right: 1px solid rgb(212, 6, 6);
                }
            }

            .alarm-container {
                width: 280px;
                display: flex;
            }

            .alarm {
                color: rgb(212, 6, 6);
                align-self: flex-start;
                font-size: 0.85em;
                margin-top: 5px;
            }

            .password-container {
                position: relative;
                @include centerChild;

                .eye {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 7px;
                    bottom: calc((40px - 20px) / 2);
                    color: #0c2c43b9;
                }

                .eye:hover {
                    color: #0c2c43;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    bottom: calc((40px - 21px) / 2);
                }
            }

            .signup-button {
                margin-top: 25px;
                width: 300px;
                height: 40px;
                background-color: #0c2c43;
                color: #fffffe;
                border-radius: 5px;
                box-shadow: 1px 1px 2px rgb(228, 228, 228);
                font-size: 1.3em;
            }

            .signup-button:hover {
                cursor: pointer;
            }

            .signup-button:disabled {
                color: #fffffeb4;
                background-color: #0c2c43da;
            }

            .signup-button:disabled:hover {
                cursor: not-allowed;
            }

            .signin-forward {
                margin-top: 5px;

                a {
                    text-decoration: none;
                    color: #007a9f;
                }
            }
        }
    }

    .signup-left {
        position: relative;
        bottom: 60px;
        height: 100%;
        flex: 6;
        @include centerChild;

        img {
            width: 400px;
            height: 170px;
        }
    }
}