@import './../../mainStyle.scss';
@import './../../.mainStyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
.question{
    width:90%;
    margin: auto;
    height: fit-content;
    .question-details{
        margin-left: 30px;
        margin-bottom: 10px;
        a{
            font-size: 1.2em;
            font-weight: 600;
            text-decoration: underline;
            color: $semi-dark-blue;
            transition: all 200ms;
            &:hover{
                color: #000000;
            }
        }
    }
    .flex{
        display: flex;
        .question-help{
            flex: 1;
            margin-right: 5px;
            cursor: pointer;
            .help-wrapper{
                position: sticky;
                top: 10px;
            }
            .circle{
                font-family: 'Seymour One', sans-serif;
                width: 60px;
                height: 60px;
                text-align: center;
                background-color: #dddddd;
                border-radius: 50%;
                font-size: 45px;
                font-weight: 700;
                transition: all 300ms;
              
                &:hover,&.active{
                    background-color: $semi-dark-blue;
                    color: #ffffff;
                }
            }
            .help-counts{
                font-size: 30px;
                font-weight: 600;
                margin-top: 5px;
                text-align: center;
               
            }
        }
        .question-wrapper{
            flex: 10;
                .question-content{
                    color: $semi-dark-blue;
                    font-weight: 600;
                    padding: 20px;
                    padding-bottom: 5px;
                    font-size: 20px;
                    background-color: $light-white ;
                    border-radius: 10px;
                    height: fit-content;
                    font-family: sans-serif;
                    height: 220px;
                    position: relative;
            }
            
            .time{
                position: absolute;
                bottom: 5px;
                right: 15px;
                color: #5a5a5a85;
                text-align: right;
                font-size: 16px;
                font-weight: 600;
            }
            
        }
        .reply-btn{
            margin-left: 5px;
            cursor: pointer;
            transition: all 200ms;
            width: 45px;
            height: 50px;
            position: sticky;
            top: 10px;
            &:hover{
                transform: scale(1.1);
            }
            flex: 1;
        }
        
    }
    .answer-wrapper{
        margin-top: 5px;
        width: 95%;
        display: flex;
        padding: 10px;
        float: right;
        transition: all 200ms;
        input{
            background-color: #e0e0e0;
            border-radius: 10px;
            width: 90%;
            outline: none;
            padding: 5px;
            font-size: 18px;
            height: 40px;
            margin-right: 5px;
            @include input;
        }
        button{
           @include btn;
           background-color: $semi-dark-blue;
           padding: 5px;
           border-radius: 15px;
           border-bottom-left-radius: 0;
           color: $light-white;
           font-size: 20px;
           font-weight: 600 ;
           &:hover{
               background-color: $fully-dark-blue;
            }
            &:disabled{
                &:hover{
                background-color: #6D6D6D;

            }
           }
        }
    }
}