$full-white : #FFFFFF;
$light-white : #F0F0F0;
$sky-blue:#18A9CA;
$blue : #0C2C43;
$semi-dark-blue:#082233;
$fully-dark-blue:#041622;
$sidebar-width:250px;

@mixin centerChild{
    // this style for the parent div, and the the child will be centered. 
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexParent{
    // this style for the parent div, and the the child will be centered. 
    display: flex;
    align-items: center;
}
@mixin btn{
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 20ms;
    &:focus{
        outline: none;
    }
    &:disabled{
        background-color: #6D6D6D;
        cursor: initial;
    }
}
@mixin input{

    &:focus{
        &::placeholder{
           visibility:hidden;
        }
    }
}

@mixin link{
    text-decoration: none;
    color:#000
}

@mixin blinking {
    @keyframes blinking {
        from{
            opacity: 0.1;
        }to{
            opacity: 1;
        }
    }
}