.mainview-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #061e2e, #0e4047);

  display: flex;
  align-items: center;
}

.mainview-container .mianimg-container {
  width: 50%;
  height: 100%;
  flex: 0 0 50%;

  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1f);
  grid-template-rows: repeat(5, minmax(100px, auto));
}

.mainview-container .mianimg-container .phone {
  grid-column: 4/7;
  grid-row-start: 4;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mainview-container .mianimg-container .phone .phone-img {
  width: 150px;
  position: absolute;
}
.mainview-container .mianimg-container .phone .phone-bg {
  width: 100px;
  position: absolute;
  background-color: #31cdf1;
  border-radius: 20px;
  padding: 28px 20px;
  transform: translateY(-5px);
}
.mainview-container .mianimg-container .laptop {
  grid-column: 1/7;
  grid-row-start: 3;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mainview-container .mianimg-container .laptop .laptop-img {
  width: 600px;
  position: absolute;
}
.mainview-container .mianimg-container .laptop .laptop-bg {
  width: 320px;
  position: absolute;
  background-color: #31cdf1;
  padding: 40px 30px;
  transform: translateY(-10px);
}

.mainview-container .mainview-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 50%;
  flex: 0 0 50%;
}

.mainview-container .mainview-description .mainlogo {
  transform: scale(0.6);
}

.mainview-container .mainview-description .description {
  color: white;
  width: 75%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  line-height: 25px;
}

.mainview-container .mainview-description .signin-signup {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.mainview-container .mainview-description .signin-signup .signin,
.mainview-container .mainview-description .signin-signup .signup {
  width: 40%;
  padding: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px #000;
  background-color: #2992aa;
  cursor: pointer;
}

.mainview-container .mainview-description .signin-signup .signin:hover,
.mainview-container .mainview-description .signin-signup .signup:hover {
  box-shadow: 0 2px 5px #000;
}

.mainview-container .mainview-description .signin-signup .signin:active,
.mainview-container .mainview-description .signin-signup .signup:active {
  box-shadow: 0 0 1px #000;
}

.mainview-container .mainview-description .signin-signup .signup {
  background-color: #028064;
}
