
.statisticsview-container {
	background-image: linear-gradient(to bottom, #1E554E, #091233);
	view-timeline: --s-v;
	.title {
		height: 0%;
	}
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: relative;
	overflow: hidden;
	font-size: 1.25rem;
	.statistics {
		display: flex;
		align-items: center;
		position: relative;
		width: 90%;
		height: 90%;
		border-radius: 50px;
		background-image: linear-gradient(to bottom, #EF5350, #419296);

		.descrip {
			font-size: 1.75rem;
		}
	}
}
.statistics-no {
	color: #FFCA28;
	font-size: 3rem;
	font-weight: 900;
}
