.questionview-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #041622, #6ec9dd);

  display: flex;
  align-items: center;
  color: white;
}

.questionview-container .answers,
.questionview-container .inquiries,
.questionview-container .suggestions {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

.questionview-container .title {
  text-align: center;
}

.questionview-container .question-img {
  width: 300px;
}

.questionview-container .question-description {
  text-align: center;
  padding: 20px;
  z-index: 9;
}

.questionview-container .suggestions::after {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  transform-origin: center;
  bottom: -150px;
  right: -150px;
  border-radius: 50%;
  background-image: radial-gradient(
    rgb(217, 217, 217) 0px 50px,
    rgba(217, 217, 217, 0.65) 50px 100px,
    rgba(217, 217, 217, 0.45) 100px
  );
}
