@import '../../.mainStyle.scss';
.addList-btn{
    position: relative;
    .listoptions{
        position: absolute;
        top: 5px;
        left: 5px;
        width: fit-content;
        height:fit-content;
        border-radius: 5px;
        background-color: #c1c1c1;
        z-index: 9;
        .option{
            padding: 5px;
            border-radius: 5px;
            &:hover{
                background-color: $semi-dark-blue;
                color: $light-white;
            }
        }
}}