@import './../../mainStyle.scss';
.list-container{
    .list{
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 10px;
        min-height: 60px;
        width: 90%;
        border: 2px solid $semi-dark-blue;
        margin: 10px auto;
        cursor: pointer;
        transition: all 200ms;
        padding-left: 30px;
        display: grid;
        grid-template-columns: 40% 15% 15% 15% 15%;
        .list-name{
            transition: all 200ms;
            font-size: 20px;
            color: $semi-dark-blue;
            margin: auto 0;
        }
        &:hover{
            background-color: $semi-dark-blue !important;
            .list-name{
                color: $full-white;
            }
            color: #e0e0e0;
            .items{
                svg{
                    color: $full-white;
                }
            }
        }
        .items{
            display: flex;
            align-items: center;
            svg{
                font-size: 26px;
                color: $semi-dark-blue;
                &.deleteSVG{
                    color: rgb(194, 53, 53);
                }
            }
        }
    }
}
.dark{
    .list-container{
        .list{
            background-color: $fully-dark-blue;
            border: 2px solid $sky-blue;
            .list-name{
                color: $sky-blue;
            }
            color: $full-white;
            &:hover{
                background-color: $semi-dark-blue !important;
                .list-name{
                    color: $full-white;
                }
            }
            .items{
                svg{
                    color: $full-white;
                    &.deleteSVG{
                        color: rgb(194, 53, 53);
                    }
                }
            }
        }
    }
}