@import '../../mainStyle.scss';

.modal{
    @include modal;
    background-color: #17171779;
    .img_editor_wrapper{
        min-height: 250px;
        min-width: 300px;
        width: 50%;
        height: 50%;
        border-radius: 10px;
        background-color: #041622;
        position: relative;
        padding: 5px;
        @include centerChild;
        flex-direction: column;
        .close{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            background-color: #121212;
            border-radius: 50%;
            padding: 2px;
            color: #fff;
            font-size: 30px;
        }
        img{
            width: 80%;
            height: 80%;
            border-radius: inherit;
        }
    }
    .actions_btns{
        position: absolute;
        bottom: 10px;
        button{
            padding: 5px 10px;
            background-color: rgb(86, 255, 86);
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            border-radius: 10px;
            transition: all 200ms;
            cursor: pointer;
            &:hover{
                background-color: rgb(34, 151, 34);
            }
        }
    }
}