.slider {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	position: relative;

	.title {
		text-align: center;
		height: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hide-title {
		height: 0%;
	}

	.question-img {
		width: 60%;
		display: inline-block;
	}

	.img1 {
		animation: img-fade-l linear both;
	}
	.img2 {
		animation: img-fade linear both;
	}
	.img3 {
		animation: img-fade-r linear both;
	}

	.question-description {
		text-align: center;
		padding: 20px;
		z-index: 9;
		height: 30%;
		font-size: 1.5rem;

		animation: text-opacity linear both;
		/*animation-range: exit -10%;*/
	}
	.q-v {
		animation-timeline: --q-v;
	}

	.s-v {
		animation-timeline: --s-v;
	}
}

/* =========================== Phone =========================== */

@media screen and (max-width: 480px) {
	.slider {
		.question-img {
			width: 50%;
		}

		.title {
			font-size: 2.5rem;
		}
	}
}

/* Animations */

@supports(animation-timeline: view()) {
	@keyframes text-opacity {
		entry 80% {
			opacity: 0;
		}

		entry 100% {
			opacity: 1;
		}

		exit 50% {
			opacity: 1;
		}

		exit 100% {
			opacity: 0;
		}
	}

	@keyframes img-fade-l {
		entry 30% {
			opacity: 0;
			transform: translate(100px, 0px);
		}

		entry 60% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 30% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 60% {
			opacity: 0;
			transform: translate(100px, -100px);
		}
	}

	@keyframes img-fade-r {
		entry 30% {
			opacity: 0;
			transform: translate(-100px, 100px);
		}

		entry 60% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 30% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 60% {
			opacity: 0;
			transform: translate(-100px, 0px);
		}
	}

	@keyframes img-fade {
		entry 30% {
			opacity: 0;
			transform: translateY(100px);
		}

		entry 60% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 30% {
			opacity: 1;
			transform: translate(0px, 0px);
		}

		exit 60% {
			opacity: 0;
			transform: translateY(-100px);
		}
	}
}