@import '../../mainStyle.scss';
.standing-link{
    text-decoration: none;
    color: $semi-dark-blue;
}
.grid{
    display: grid;
    grid-template-columns: 10% 40% 20% 30%;
    text-align: center;
    padding: 2px 5px;
    .field{
        border-bottom: 2px solid $semi-dark-blue;
        font-size: 18px;   
    }
    .medal{
        width: 20px;
        height: 20px;
        left: 2px;
    }
    &.active, &:hover{
        background-color: $sky-blue;
        color: #ffffff;
    }
}
.dark{


.grid{
    .field{
        border-bottom: 2px solid $full-white;
        font-size: 18px;
        color: #ffffff;
    }
   
}
}