@import '../../mainStyle.scss';
.search-items{
    
    .title{
        font-size: 18px;
        color: $fully-dark-blue;
    
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        li{
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            &:hover,&.selected{
                a{
                    color: #f0f0f0;
                }
                background-color: $semi-dark-blue;
            }

            .flex{
                display: flex;
                align-items: center;
                .main-username{
                    font-size: 20px;
                    font-weight: 500;
                }
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                

            }
        }
        a{
            @include link;
            width: 100%;
            
           
        }
    }
}