@import '../../mainStyle.scss';
@import '../../.mainStyle.scss';

.about-page {
    min-height: 100vh;
    background-color: #002540;

    .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        /* Semi-transparent overlay color */
        z-index: 999;
    }

    .modal-overlay.show {
        display: block;
    }

    /* Modal content styles */
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        width: 60%;
        min-height: 400px;
        display: flex;
        background-color: #002540;

        .photo-wrapper {
            background-color: #6CEA97;
            border-radius: 10px;
            flex: 4;

            img {
                height: 400px;
                margin-bottom: -10px;
            }
        }

        .info-wrapper {
            flex: 8;
            padding: 10px;
            color: #ffffff;
            text-align: center;

            .person-name {
                font-size: 35px;
                color: #6CEA97;
                margin-bottom: 5px;
            }

            .person-title {
                font-size: 18px;
                font-weight: 400;
            }

            .bio {
                margin-top: 20px;
                text-align: left;
            }
        }
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .our-photos-wrapper {
        .team-title {
            padding: 20px;
            text-align: center;
            font-size: 90px;
            color: #2B2B2B;
        }

        background-color: #6CEA97;
        position: relative;
        height: 65vh;

        .flex {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
        }

        .curve {
            position: absolute;
            bottom: -30px;
            width: 100%;
            z-index: 9;
        }

        .person {
            display: flex;
            flex: 3;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            cursor: pointer;

            .person-img {
                transition: all 300ms;
                width: 75%;
                height: 80%;

                &:hover {
                    transform: scale(1.1);
                    border-radius: 20px;
                    background-color: #a3f9c0;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                    /* Adjust values for the desired shadow */
                    outline-offset: -6px;
                }
            }

            .person-name {
                text-align: center;
                font-size: 35px;
                max-width: 100px;
                position: relative;
                z-index: 100;
                top: -20px;
                color: #ffffff;

                &.side {
                    top: -70px;
                }
            }
        }
    }

    .details-container {
        position: relative;
        z-index: 90;
        min-height: 35vh;
        background-color: #002540;

    }
}